# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# SQLite database
*.db

# App data (your generated data)
app_data/
build/
dist/

# Model artifacts
*.pkl

# Logs
*.log

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/